<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>num</key>
		<string>1</string>
		<key>evalution</key>
		<string>很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心很好玩，这景色太美了，孩子们都很开心</string>
		<key>star</key>
		<string>4</string>
		<key>user</key>
		<string>zheng</string>
		<key>evalutionNum</key>
		<string>0</string>
		<key>images</key>
		<array>
			<string>1</string>
			<string>1</string>
		</array>
	</dict>
</array>
</plist>
