<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>山谷祠</string>
		<key>num</key>
		<string>1</string>
		<key>picture</key>
		<array>
			<string>1.jpg</string>
			<string>shangusi_1</string>
			<string>shangusi_2</string>
			<string>shangusi_3</string>
			<string>shangusi_4</string>
			<string>shangusi_5</string>
			<string>shangusi_6</string>
		</array>
		<key>oneWordToRecommend</key>
		<string>这里风景好</string>
		<key>money</key>
		<string>4.7</string>
		<key>evaluetion</key>
		<string>4.7</string>
		<key>phone</key>
		<string>13543592806</string>
		<key>spot</key>
		<string>宜州市山谷祠</string>
		<key>setMeal</key>
		<string>买一送一，大人买票可以带一个小孩子[习近平：今年的白馍能吃到嘴里了]25日下午，习近平来到小岗村4300亩高标准农田示范点，沿着田埂走进麦田，察看小麦长势，向村干部、种粮大户和农技人员了解土地流转、农田整理、种植品种、亩产量、病虫害防治、粮食收购等情况。听了大家介绍情况，总书记说，现在正值抽穗灌浆的关键时期，要加强田间管理，实现丰收，今年的白馍能吃到嘴里了。 （新华社记者霍小光，摄影：新华社记者李学仁、李涛）

　　[总书记强调要保证农产品安全]在小岗村高标准农田示范点，习近平向农技人员了解为保证合理施肥采取了哪些措施。总书记强调，要加强管理，加强监测，确保农产品安全。习近平还关切询问县里农技人员培养和待遇情况，勉励农技人员发挥专长服务“三农”。（新华社记者霍小光，摄影：新华社记者李学仁、李涛）</string>
		<key>buyNeedKnow</key>
		<string>如果买了票，临时有事来不了的，请在当天网上退票</string>
	</dict>
	<dict>
		<key>name</key>
		<string>下枧河风光</string>
		<key>num</key>
		<string>2</string>
		<key>picture</key>
		<array>
			<string>2</string>
		</array>
		<key>oneWordToRecommend</key>
		<string>这里风景好</string>
		<key>money</key>
		<string>4.7</string>
		<key>evaluetion</key>
		<string>2.6</string>
		<key>phone</key>
		<string>13543592806</string>
		<key>spot</key>
		<string>宜州市下枧河</string>
		<key>setMeal</key>
		<string>买一送一，大人买票可以带一个小孩子</string>
		<key>buyNeedKnow</key>
		<string>如果买了票，临时有事来不了的，请在当天网上退票</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘三姐故居</string>
		<key>num</key>
		<string>3</string>
		<key>picture</key>
		<array>
			<string>3</string>
		</array>
		<key>oneWordToRecommend</key>
		<string>这里风景好</string>
		<key>money</key>
		<string>4.7</string>
		<key>evaluetion</key>
		<string>2.6</string>
		<key>phone</key>
		<string>13543592806</string>
		<key>spot</key>
		<string>宜州市刘三姐故居</string>
		<key>setMeal</key>
		<string>买一送一，大人买票可以带一个小孩子</string>
		<key>buyNeedKnow</key>
		<string>如果买了票，临时有事来不了的，请在当天网上退票</string>
	</dict>
	<dict>
		<key>name</key>
		<string>壮古佬景区</string>
		<key>num</key>
		<string>4</string>
		<key>picture</key>
		<array>
			<string>4</string>
		</array>
		<key>oneWordToRecommend</key>
		<string>这里风景好</string>
		<key>money</key>
		<string>4.7</string>
		<key>evaluetion</key>
		<string>2.6</string>
		<key>phone</key>
		<string>13543592806</string>
		<key>spot</key>
		<string>宜州市北部刘三姐乡的马山塘屯
&lt;string&gt;宜州龙江一桥码头&lt;/string&gt;
&lt;/plist&gt;
</string>
		<key>setMeal</key>
		<string>买一送一，大人买票可以带一个小孩子</string>
		<key>buyNeedKnow</key>
		<string>如果买了票，临时有事来不了的，请在当天网上退票</string>
	</dict>
	<dict>
		<key>name</key>
		<string>龙江水中石林</string>
		<key>num</key>
		<string>5</string>
		<key>picture</key>
		<array>
			<string>5</string>
		</array>
		<key>oneWordToRecommend</key>
		<string>这里风景好</string>
		<key>money</key>
		<string>4.7</string>
		<key>evaluetion</key>
		<string>2.6</string>
		<key>spot</key>
		<string>宜州龙江一桥码头</string>
		<key>phone</key>
		<string>13543592806</string>
		<key>setMeal</key>
		<string>买一送一，大人买票可以带一个小孩子</string>
		<key>buyNeedKnow</key>
		<string>如果买了票，临时有事来不了的，请在当天网上退票</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宜州市第三中学</string>
		<key>num</key>
		<string>6</string>
		<key>picture</key>
		<array>
			<string>thirdSchool-1</string>
			<string>thirdSchool-2</string>
		</array>
		<key>oneWordToRecommend</key>
		<string>这里风景好</string>
		<key>money</key>
		<string>4.7</string>
		<key>evaluetion</key>
		<string>2.6</string>
		<key>spot</key>
		<string>宜州市第三中学</string>
		<key>phone</key>
		<string>13543592806</string>
		<key>setMeal</key>
		<string>买一送一，大人买票可以带一个小孩子</string>
		<key>buyNeedKnow</key>
		<string>如果买了票，临时有事来不了的，请在当天网上退票</string>
	</dict>
</array>
</plist>
